root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

make-backup-files = 0
x-typographers-quotes = true
x-show-invisibles = true
x-show-spaces = true
x-soft-wrap-text = true
x-soft-wrap-mode = WindowWidth
